body {
  font-family: sans-serif;
  background: #fff;
}

.app {
  padding: 0 1rem;
}

p {
  color: #333;
}

.outer {
  border: 1px solid #ddd;
  border-radius: 4px;
  min-width: 250px;
  resize: horizontal;
}

.item {
  display: flex;
  justify-content: center;
  align-items: center;

  &.dark {
    background: #e5e5e5;
  }
}

small {
  display: block;
  margin-top: 0.5rem;
}