body {
  font-family: sans-serif;
  background: #fff;
}

.app {
  padding: 0 1rem;
}

p {
  color: #333;
}

.outer {
  border: 1px solid #ddd;
  border-radius: 4px;
}

.item {
  display: flex;
  align-items: center;
  padding: 10px;

  div {
    padding: 4px 10px;
    border-radius: 8px;
    max-width: 70%;
    background: #e5e5e5;
  }

  &.right {
    justify-content: flex-end;
  }
}

button  {
  margin-top: 1rem;
  width: 300px;
}