body {
  font-family: sans-serif;
  background: #fff;
}

.app {
  padding: 0 1rem;
}

p {
  color: #333;
}

.outer {
  border: 1px solid #ddd;
  border-radius: 4px;
}

.item {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 16px;
  min-height: 50px;
  box-sizing: border-box;

  &:not(:last-of-type) {
    border-bottom: 1px solid #e5e5e5;
  }
}