body {
  font-family: "Roboto", sans-serif;
}

.app {
  margin-top: 100px;
  text-align: center;
  height: 3000px;
}

.outer {
  margin: 0 auto;
  width: 300px;
  border: 1px solid #000;
  margin-bottom: 1rem;
  overflow: auto;
}

.inner {
  display: inline-block;
  width: inherit;
}

.item {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #fff;

  &.dark {
    background: #ddd;
  }
}
